@import "./var";

.sb {

  padding: 0.5rem 2rem;
  background: $light-grey-2;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 2rem;
  gap: 1em;
  .wrapper-input{
    position: relative;
    .searchTerm{
     
    }
    .icon{
      position: absolute;
      right: 5px;
      top: 5px;
      color: $medium-grey-2;
      :hover{
        color: $medium-grey-3;
        cursor: pointer;
      }
    }
  }
}
