@import "./var";

.sb {
  padding: 0.5rem 2rem;
  background: linear-gradient(
    312.11deg,
    rgba(0, 55, 255, 0.5) 25.93%,
    rgba(0, 56, 255, 0.1) 40.45%,
    rgba(0, 255, 225, 0.836) 140.92%
  );
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 2rem;
  gap: 1em;
}
